{
  "openapi": "3.0.3",
  "info": {
    "title": "نظام إدارة البئر – بئر محمد أحمد مطير API",
    "description": "API documentation for the **نظام إدارة البئر – بئر محمد أحمد مطير** application.\n\n**Authentication:** Most endpoints require the `api_key` header. If using Swagger UI, click the **Authorize** button at the top of the page and enter your API key before trying any endpoint.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bir-mutair.base44.app/api",
      "description": "API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/entities/AuditLog": {
      "get": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "List AuditLog records",
        "operationId": "list_AuditLog",
        "description": "Retrieve a list of AuditLog records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLog"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Create a AuditLog record",
        "operationId": "create_AuditLog",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditLog"
              },
              "example": {
                "user_name": "Example user_name",
                "action": "Example action"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Delete multiple AuditLog records",
        "operationId": "delete_many_AuditLog",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "user_name": "Example user_name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AuditLog/bulk": {
      "post": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Bulk create AuditLog records",
        "operationId": "bulk_create_AuditLog",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              },
              "example": [
                {
                  "user_name": "Example user_name",
                  "action": "Example action"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLog"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Bulk update AuditLog records",
        "operationId": "bulk_update_AuditLog",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "user_name": "Example user_name",
                  "action": "Example action"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AuditLog/update-many": {
      "patch": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Update many AuditLog records by query",
        "operationId": "update_many_AuditLog",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "user_name": "Example user_name"
                },
                "data": {
                  "$set": {
                    "user_name": "Example user_name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AuditLog/{AuditLog_id}": {
      "get": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Get a AuditLog record by ID",
        "operationId": "get_AuditLog",
        "parameters": [
          {
            "name": "AuditLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Update a AuditLog record",
        "operationId": "update_AuditLog",
        "parameters": [
          {
            "name": "AuditLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditLog"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Delete a AuditLog record",
        "operationId": "delete_AuditLog",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "AuditLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/AuditLog/{AuditLog_id}/restore": {
      "put": {
        "tags": [
          "Entities - AuditLog"
        ],
        "summary": "Restore a deleted AuditLog record",
        "operationId": "restore_AuditLog",
        "parameters": [
          {
            "name": "AuditLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLog"
                }
              }
            }
          }
        }
      }
    },
    "/entities/TankerFilling": {
      "get": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "List TankerFilling records",
        "operationId": "list_TankerFilling",
        "description": "Retrieve a list of TankerFilling records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TankerFilling"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Create a TankerFilling record",
        "operationId": "create_TankerFilling",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TankerFilling"
              },
              "example": {
                "owner_id": "Example owner_id",
                "filling_type": "full",
                "value": 0,
                "payment_method": "Example payment_method"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TankerFilling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Delete multiple TankerFilling records",
        "operationId": "delete_many_TankerFilling",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "owner_id": "Example owner_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/TankerFilling/bulk": {
      "post": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Bulk create TankerFilling records",
        "operationId": "bulk_create_TankerFilling",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TankerFilling"
                }
              },
              "example": [
                {
                  "owner_id": "Example owner_id",
                  "filling_type": "full",
                  "value": 0,
                  "payment_method": "Example payment_method"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TankerFilling"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Bulk update TankerFilling records",
        "operationId": "bulk_update_TankerFilling",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TankerFilling"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "owner_id": "Example owner_id",
                  "filling_type": "full",
                  "value": 0,
                  "payment_method": "Example payment_method"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TankerFilling"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/TankerFilling/update-many": {
      "patch": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Update many TankerFilling records by query",
        "operationId": "update_many_TankerFilling",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "owner_id": "Example owner_id"
                },
                "data": {
                  "$set": {
                    "owner_id": "Example owner_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/TankerFilling/{TankerFilling_id}": {
      "get": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Get a TankerFilling record by ID",
        "operationId": "get_TankerFilling",
        "parameters": [
          {
            "name": "TankerFilling_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TankerFilling"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Update a TankerFilling record",
        "operationId": "update_TankerFilling",
        "parameters": [
          {
            "name": "TankerFilling_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TankerFilling"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TankerFilling"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Delete a TankerFilling record",
        "operationId": "delete_TankerFilling",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "TankerFilling_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/TankerFilling/{TankerFilling_id}/restore": {
      "put": {
        "tags": [
          "Entities - TankerFilling"
        ],
        "summary": "Restore a deleted TankerFilling record",
        "operationId": "restore_TankerFilling",
        "parameters": [
          {
            "name": "TankerFilling_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TankerFilling"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Setting": {
      "get": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "List Setting records",
        "operationId": "list_Setting",
        "description": "Retrieve a list of Setting records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Setting"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Create a Setting record",
        "operationId": "create_Setting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Setting"
              },
              "example": {
                "well_name": "Example well_name",
                "unit_price": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Delete multiple Setting records",
        "operationId": "delete_many_Setting",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "well_name": "Example well_name"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Setting/bulk": {
      "post": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Bulk create Setting records",
        "operationId": "bulk_create_Setting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Setting"
                }
              },
              "example": [
                {
                  "well_name": "Example well_name",
                  "unit_price": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Setting"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Bulk update Setting records",
        "operationId": "bulk_update_Setting",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Setting"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "well_name": "Example well_name",
                  "unit_price": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Setting"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Setting/update-many": {
      "patch": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Update many Setting records by query",
        "operationId": "update_many_Setting",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "well_name": "Example well_name"
                },
                "data": {
                  "$set": {
                    "well_name": "Example well_name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Setting/{Setting_id}": {
      "get": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Get a Setting record by ID",
        "operationId": "get_Setting",
        "parameters": [
          {
            "name": "Setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Update a Setting record",
        "operationId": "update_Setting",
        "parameters": [
          {
            "name": "Setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Setting"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Delete a Setting record",
        "operationId": "delete_Setting",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Setting/{Setting_id}/restore": {
      "put": {
        "tags": [
          "Entities - Setting"
        ],
        "summary": "Restore a deleted Setting record",
        "operationId": "restore_Setting",
        "parameters": [
          {
            "name": "Setting_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Subscriber": {
      "get": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "List Subscriber records",
        "operationId": "list_Subscriber",
        "description": "Retrieve a list of Subscriber records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscriber"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Create a Subscriber record",
        "operationId": "create_Subscriber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscriber"
              },
              "example": {
                "subscriber_number": "Example subscriber_number",
                "name": "Example name",
                "phone": "Example phone"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Delete multiple Subscriber records",
        "operationId": "delete_many_Subscriber",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "subscriber_number": "Example subscriber_number"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Subscriber/bulk": {
      "post": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Bulk create Subscriber records",
        "operationId": "bulk_create_Subscriber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              },
              "example": [
                {
                  "subscriber_number": "Example subscriber_number",
                  "name": "Example name",
                  "phone": "Example phone"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscriber"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Bulk update Subscriber records",
        "operationId": "bulk_update_Subscriber",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "subscriber_number": "Example subscriber_number",
                  "name": "Example name",
                  "phone": "Example phone"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Subscriber"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Subscriber/update-many": {
      "patch": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Update many Subscriber records by query",
        "operationId": "update_many_Subscriber",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "subscriber_number": "Example subscriber_number"
                },
                "data": {
                  "$set": {
                    "subscriber_number": "Example subscriber_number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Subscriber/{Subscriber_id}": {
      "get": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Get a Subscriber record by ID",
        "operationId": "get_Subscriber",
        "parameters": [
          {
            "name": "Subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Update a Subscriber record",
        "operationId": "update_Subscriber",
        "parameters": [
          {
            "name": "Subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscriber"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Delete a Subscriber record",
        "operationId": "delete_Subscriber",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Subscriber/{Subscriber_id}/restore": {
      "put": {
        "tags": [
          "Entities - Subscriber"
        ],
        "summary": "Restore a deleted Subscriber record",
        "operationId": "restore_Subscriber",
        "parameters": [
          {
            "name": "Subscriber_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscriber"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Payment": {
      "get": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "List Payment records",
        "operationId": "list_Payment",
        "description": "Retrieve a list of Payment records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Create a Payment record",
        "operationId": "create_Payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              },
              "example": {
                "receipt_number": "Example receipt_number",
                "subscriber_id": "Example subscriber_id",
                "amount": 0,
                "payment_method": "Example payment_method"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Delete multiple Payment records",
        "operationId": "delete_many_Payment",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "receipt_number": "Example receipt_number"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Payment/bulk": {
      "post": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Bulk create Payment records",
        "operationId": "bulk_create_Payment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "example": [
                {
                  "receipt_number": "Example receipt_number",
                  "subscriber_id": "Example subscriber_id",
                  "amount": 0,
                  "payment_method": "Example payment_method"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Bulk update Payment records",
        "operationId": "bulk_update_Payment",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Payment"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "receipt_number": "Example receipt_number",
                  "subscriber_id": "Example subscriber_id",
                  "amount": 0,
                  "payment_method": "Example payment_method"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Payment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Payment/update-many": {
      "patch": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Update many Payment records by query",
        "operationId": "update_many_Payment",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "receipt_number": "Example receipt_number"
                },
                "data": {
                  "$set": {
                    "receipt_number": "Example receipt_number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Payment/{Payment_id}": {
      "get": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Get a Payment record by ID",
        "operationId": "get_Payment",
        "parameters": [
          {
            "name": "Payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Update a Payment record",
        "operationId": "update_Payment",
        "parameters": [
          {
            "name": "Payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Delete a Payment record",
        "operationId": "delete_Payment",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Payment/{Payment_id}/restore": {
      "put": {
        "tags": [
          "Entities - Payment"
        ],
        "summary": "Restore a deleted Payment record",
        "operationId": "restore_Payment",
        "parameters": [
          {
            "name": "Payment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      }
    },
    "/entities/NotificationLog": {
      "get": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "List NotificationLog records",
        "operationId": "list_NotificationLog",
        "description": "Retrieve a list of NotificationLog records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationLog"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Create a NotificationLog record",
        "operationId": "create_NotificationLog",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationLog"
              },
              "example": {
                "channel": "whatsapp",
                "template": "Example template",
                "status": "sent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationLog"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Delete multiple NotificationLog records",
        "operationId": "delete_many_NotificationLog",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "channel": "whatsapp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/NotificationLog/bulk": {
      "post": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Bulk create NotificationLog records",
        "operationId": "bulk_create_NotificationLog",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotificationLog"
                }
              },
              "example": [
                {
                  "channel": "whatsapp",
                  "template": "Example template",
                  "status": "sent"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationLog"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Bulk update NotificationLog records",
        "operationId": "bulk_update_NotificationLog",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NotificationLog"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "channel": "whatsapp",
                  "template": "Example template",
                  "status": "sent"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotificationLog"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/NotificationLog/update-many": {
      "patch": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Update many NotificationLog records by query",
        "operationId": "update_many_NotificationLog",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "channel": "whatsapp"
                },
                "data": {
                  "$set": {
                    "channel": "whatsapp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/NotificationLog/{NotificationLog_id}": {
      "get": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Get a NotificationLog record by ID",
        "operationId": "get_NotificationLog",
        "parameters": [
          {
            "name": "NotificationLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationLog"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Update a NotificationLog record",
        "operationId": "update_NotificationLog",
        "parameters": [
          {
            "name": "NotificationLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationLog"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationLog"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Delete a NotificationLog record",
        "operationId": "delete_NotificationLog",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "NotificationLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/NotificationLog/{NotificationLog_id}/restore": {
      "put": {
        "tags": [
          "Entities - NotificationLog"
        ],
        "summary": "Restore a deleted NotificationLog record",
        "operationId": "restore_NotificationLog",
        "parameters": [
          {
            "name": "NotificationLog_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationLog"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Reading": {
      "get": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "List Reading records",
        "operationId": "list_Reading",
        "description": "Retrieve a list of Reading records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reading"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Create a Reading record",
        "operationId": "create_Reading",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reading"
              },
              "example": {
                "meter_id": "Example meter_id",
                "subscriber_id": "Example subscriber_id",
                "billing_period": "Example billing_period",
                "current_reading": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reading"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Delete multiple Reading records",
        "operationId": "delete_many_Reading",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "meter_id": "Example meter_id"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Reading/bulk": {
      "post": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Bulk create Reading records",
        "operationId": "bulk_create_Reading",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Reading"
                }
              },
              "example": [
                {
                  "meter_id": "Example meter_id",
                  "subscriber_id": "Example subscriber_id",
                  "billing_period": "Example billing_period",
                  "current_reading": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reading"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Bulk update Reading records",
        "operationId": "bulk_update_Reading",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Reading"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "meter_id": "Example meter_id",
                  "subscriber_id": "Example subscriber_id",
                  "billing_period": "Example billing_period",
                  "current_reading": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reading"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Reading/update-many": {
      "patch": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Update many Reading records by query",
        "operationId": "update_many_Reading",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "meter_id": "Example meter_id"
                },
                "data": {
                  "$set": {
                    "meter_id": "Example meter_id"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Reading/{Reading_id}": {
      "get": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Get a Reading record by ID",
        "operationId": "get_Reading",
        "parameters": [
          {
            "name": "Reading_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reading"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Update a Reading record",
        "operationId": "update_Reading",
        "parameters": [
          {
            "name": "Reading_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reading"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reading"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Delete a Reading record",
        "operationId": "delete_Reading",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Reading_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Reading/{Reading_id}/restore": {
      "put": {
        "tags": [
          "Entities - Reading"
        ],
        "summary": "Restore a deleted Reading record",
        "operationId": "restore_Reading",
        "parameters": [
          {
            "name": "Reading_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reading"
                }
              }
            }
          }
        }
      }
    },
    "/entities/Invoice": {
      "get": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "List Invoice records",
        "operationId": "list_Invoice",
        "description": "Retrieve a list of Invoice records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Create a Invoice record",
        "operationId": "create_Invoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              },
              "example": {
                "invoice_number": "Example invoice_number",
                "subscriber_id": "Example subscriber_id",
                "billing_period": "Example billing_period",
                "consumption": 0,
                "unit_price": 0,
                "total_amount": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Delete multiple Invoice records",
        "operationId": "delete_many_Invoice",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "invoice_number": "Example invoice_number"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Invoice/bulk": {
      "post": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Bulk create Invoice records",
        "operationId": "bulk_create_Invoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "example": [
                {
                  "invoice_number": "Example invoice_number",
                  "subscriber_id": "Example subscriber_id",
                  "billing_period": "Example billing_period",
                  "consumption": 0,
                  "unit_price": 0,
                  "total_amount": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of created records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Bulk update Invoice records",
        "operationId": "bulk_update_Invoice",
        "description": "Each item must include an 'id' field along with the fields to update.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Invoice"
                }
              },
              "example": [
                {
                  "id": "<record_id>",
                  "invoice_number": "Example invoice_number",
                  "subscriber_id": "Example subscriber_id",
                  "billing_period": "Example billing_period",
                  "consumption": 0,
                  "unit_price": 0,
                  "total_amount": 0
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of updated records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Invoice"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Invoice/update-many": {
      "patch": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Update many Invoice records by query",
        "operationId": "update_many_Invoice",
        "description": "Update multiple records matching a query filter. Supports MongoDB update operators ($set, $inc, $push, $pull).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "data"
                ],
                "properties": {
                  "query": {
                    "type": "object",
                    "description": "Query filter to match records"
                  },
                  "data": {
                    "type": "object",
                    "description": "Update operations to apply"
                  }
                }
              },
              "example": {
                "query": {
                  "invoice_number": "Example invoice_number"
                },
                "data": {
                  "$set": {
                    "invoice_number": "Example invoice_number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Invoice/{Invoice_id}": {
      "get": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Get a Invoice record by ID",
        "operationId": "get_Invoice",
        "parameters": [
          {
            "name": "Invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Update a Invoice record",
        "operationId": "update_Invoice",
        "parameters": [
          {
            "name": "Invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Delete a Invoice record",
        "operationId": "delete_Invoice",
        "description": "Soft-deletes the record. Use the restore endpoint to undo.",
        "parameters": [
          {
            "name": "Invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/Invoice/{Invoice_id}/restore": {
      "put": {
        "tags": [
          "Entities - Invoice"
        ],
        "summary": "Restore a deleted Invoice record",
        "operationId": "restore_Invoice",
        "parameters": [
          {
            "name": "Invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Restored record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/entities/TankerPayment": {
      "get": {
        "tags": [
          "Entities - TankerPayment"
        ],
        "summary": "List TankerPayment records",
        "operationId": "list_TankerPayment",
        "description": "Retrieve a list of TankerPayment records with optional filtering, sorting, and pagination.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "JSON query filter, e.g. {\"status\":\"active\"}"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of records to return"
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Number of records to skip (pagination)"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Field name to sort by. Prefix with '-' for descending order, e.g. -created_date"
          }
        ],
        "responses": {
          "200": {
            "description": "List of records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TankerPayment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Entities - TankerPayment"
        ],
        "summary": "Create a TankerPayment record",
        "operationId": "create_TankerPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TankerPayment"
              },
              "example": {
                "receipt_number": "Example receipt_number",
                "owner_id": "Example owner_id",
                "amount": 0,
                "payment_method": "Example payment_method"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created record",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TankerPayment"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Entities - TankerPayment"
        ],
        "summary": "Delete multiple TankerPayment records",
        "operationId": "delete_many_TankerPayment",
        "description": "**Warning:** Passing an empty `{}` query will delete ALL records in this entity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Query filter to match records to delete"
              },
              "example": {
                "receipt_number": "Example receipt_number"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deletion result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "deleted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entities/TankerPayment/bulk": {
      "post": {
        "tags": [
          "Entities - TankerPayment"
[...]
